@use "sass:map";

$themes:('light','dark') !default;

$bgs:('light':#a8a8a8,'dark':#131313) !default;
$colors:('light':#313131,'dark':#bebebe) !default;
$borders:('light':#5c5c5c,'dark':#919191) !default;

$size:32px !default;
$fontSize:14px !default;
$gap:5px !default;